 @import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&family=Fondamento&family=IM+Fell+English+SC&display=swap');

 body{
    font-family: 'Eagle Lake', cursive;
 }

 .navbar-nav{
    width: 100%;
}

body{
    height: 100vh;
}


